* {
margin: 0;
padding: 0;
}



body {
  background: linear-gradient(-90deg, #2f2f2f, #00FFFF);
}

.socialIcons {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 90px;
  text-align: center;
}
.socialIcons li {
  display: inline-block;
  margin: auto 10px;
}
.socialIcons li a {
  text-align: center;
  display: inline-block;
  font-size: 4rem;
  height: 100px;
  width: 100px;
  line-height: 100px;
  color: #E0FFFF;
  transition: all .5s ease;
  transform-origin: left;
  transform: rotateY(-30deg);
  text-shadow: 10px 0px 1px #131313, 10px 0px 1px #070707, 10px 0px 1px black, 10px 0px 1px black;
}
.socialIcons li a:hover {
  color: #202020;
  transform: rotate(0deg);
  text-shadow: 0px 0px 1px #131313, 0px 0px 1px #070707, 0px 0px 1px black, 0px 0px 1px black;
}