* {
margin: 0;
padding: 0;
}

body{
	background: url("../style/224.png") center no-repeat;
	background-size: cover;
}

.foto{
	width: 200px;
	height: 250px;
	 border-radius: 10px;
     border: 5px #ccc solid;
     box-shadow: 0 0 10px #444;
	 margin-top:5px;
	 margin-left:40%;
}

.Text{
	float: top;
	margin-left:15px;
	margin-top:8.5%;
    font-family: CURSIVE;
    font-size:17px;
    color:red;
}

.Statys{
	float: top;
	margin-left:15px;
	margin-top:0.5%;
    font-family: CURSIVE;
    font-size:17px;
    color:red;
}

.Grup{
	float: top;
	margin-left:15px;
	margin-top:0.5%;
    font-family: CURSIVE;
    font-size:17px;
    color:red;
}